.App {
}

.outer-app-container {
  height: 90vh;
  width: 91.5%;
  background-color: rgb(231, 226, 226);
  margin: 30px 50px;
  padding: 5px;
  border-radius: 10px;
}

.inner-app-container {
  height: 72vh;
  width: 90%;
  background-color: rgb(253, 249, 249);
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(2, 252, 252);
}
